dces-report-service/src/main/resources/contributions.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="contribution_file">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CONTRIBUTIONS_LIST">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="CONTRIBUTIONS" maxOccurs="unbounded" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element type="xsd:int" name="maat_id"/>
                                        <xsd:element name="application">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element type="xsd:date" name="repStatusDate"/>
                                                    <xsd:element name="ccHardship">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element type="xsd:date" name="reviewDate"/>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="assessment">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element type="xsd:date" name="effectiveDate"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="passported">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element type="xsd:date" name="date_completed"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="ccOutcomes">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="ccOutcome" maxOccurs="unbounded" minOccurs="0">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element type="xsd:date" name="date"/>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="correspondence">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="letter" maxOccurs="unbounded" minOccurs="0">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element type="xsd:date" name="created"/>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute type="xsd:int" name="id"/>
                                    <xsd:attribute type="xsd:string" name="flag"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>